* {
    padding: 0px;
    margin: 0;
 
}

header {
    top: 0;
    left: 0;
}
.container {
    /*-- margin: 0 100px; * Comentei pq na versão mobile estava quebrando--*/
}
#topo-titulo {
    background-color: #6610f2;
    color: #ffffff;
}

/*-- Bloco: Funcionalidades App --*/
.titulo-funcionalidade{
    text-align: center;
}

.caixa-titulo{
    width: 250px;
    height: 60px;
    background-color: #5883B3;
}


/*-- Footer --*/
footer{
   background: #27AE60;
   height: 86px;
}

.logo-oficial{
    padding-left: 45px;
}








@media screen and (max-width: 600px) { /*-- Versão Mobile --*/



}