* {

    margin: 0;
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url('public/font/Roboto-Regular.ttf');
}
body {
    background-color: lightgray;
}
p{
    font-family: 'Roboto-Regular';
}

header {
    top: 0;
    left: 0;
}
input {
    border-radius: 20px;
    margin: 5px;
    width: 200px;
    font-size: 15px;
}
#nome, #email {
    width: 300px;
}
.quadroverde {
    margin: 20px;
    padding: 20px;
    background-color:#26AA5E;;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 7px darkgray;
}

/*-- Bloco: Funcionalidades App --*/
.sessao-topicos{
    margin-top: 60px;
}
.bloco-topicos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-funcionalidade, .texto-topicos {
    text-align: center;
}
.texto-topicos {
    font-size: 25px;
   margin-top: 20px;  
}
.texto-topicos-dinheiro {
    padding-top: 20px;
}

.img-topicos {
    width: 60%;
}
.img-topicos-lampada {
    width: 70%;
}



/*-- Footer --*/
footer{
   padding: 30px 0 30px 0;
   display: flex;
   display: flex;
    justify-content: space-between;
}

.logo-oficial {
    width: 7%;
    margin-left: 50px;
}
.icones {
    width: 50%;;
}



@media only screen and (max-width: 576px) { 

.logo-oficial {
    width: 20%;
}
.icones {
    width: 50%;
}


}



