* {
    padding: 0px 5%;
    margin: 0;
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url('public/font/Roboto-Regular.ttf');
}
body {
    background-color: lightgray;
}
p{
    font-family: 'Roboto-Regular';
}

header {
    top: 0;
    left: 0;
}
input {
    border-radius: 20px;
    margin: 5px;
    width: 200px;
    font-size: 15px;
}
#nome, #email {
    width: 300px;
}
.quadroverde {
    margin: 20px;
    padding: 20px;
    background-color:#26AA5E;;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 7px darkgray;
}

/*-- Bloco: Funcionalidades App --*/
.bloco-topicos{
    margin-top: 60px;
}
.titulo-funcionalidade, .text-align{
    text-align: center;
}

.img-topicos{
    width: 80%;
}
.img-topicos-lampada{
    width: 100%;
}
.texto-topicos{
    font-size: 25px;
   margin-top: 20px;
}


/*-- Footer --*/
footer{
   height: 86px;
}

.logo-oficial{
    width: 20%;
}








@media screen and (max-width: 600px) { /*-- Versão Mobile --*/



}