@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}



form {
    display: block;
    margin: auto;
}

.img-ebook {
    padding-top: 10vh;
    width: 500px;
    height: 60vh;
}

.header {
    min-height:100%;
    background: linear-gradient(180deg, rgba(104, 56, 111, 0.5), rgba(104, 56, 111, 1)), url('./public/img/driver.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'tablet form';
    
}

.header-img {
    width: 50vw;
}

.form {
    text-align: center;
    padding-top: 20vh;
    grid-area: form;
}

h3 {
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 3em;
    padding: 10px;
}
p{
    font-family: 'Jost', sans-serif;
}

header {
    top: 0;
    left: 0;
}

#header-img {
    width: 100%;
}

#header-form {
    padding: 10% 0;
}
input {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    font-size: 15px;
}
#nome, #email {
    width: 300px;
}
.quadroverde {
    margin: 20px;
    padding: 20px;
    background-color:#26AA5E;;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 7px darkgray;
}

/*-- Bloco: Funcionalidades App --*/
.sessao-topicos{
    margin-top: 60px;
}
.bloco-topicos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-funcionalidade, .texto-topicos {
    text-align: center;
}
.texto-topicos {
    font-size: 25px;
   margin-top: 20px;  
}
.texto-topicos-dinheiro {
    padding-top: 20px;
}

.img-topicos {
    width: 60%;
}
.img-topicos-lampada {
    width: 70%;
}



/*-- Footer --*/
footer{
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(104, 56, 111, 1);
}

.logo-oficial {
    width: 7%;
    margin-left: 50px;
}
.icones {
    width: 50%;;
}



@media only screen and (max-width: 576px) { 

#email {
    width: 200px;
}

.logo-oficial {
    width: 20%;
}
.icones {
    width: 50%;
}


}



